
<div class="headerDiv">
    <div class="headerImg">
        <a href="#"><img src="assets/img/logo.png"></a>
    </div>
    <div class="headerMenu">
        <div>
            <a href="#aboutMe" translate>About me</a>
            <a href="#skills" translate>Skills</a>
            <a href="#portfolio" translate>Portfolio</a>
        </div>
    </div>

    <div class="headerMenuMobilDiv">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close" #closeBtn></label>
        <div class="wrapper">
            <ul>
                
                
            </ul>
        </div>
    </div>
</div>
