<div class="headerDiv">
    <div class="headerImg">
        <a href="#"><img src="assets/img/logo.png"></a>
    </div>
    <div class="headerMenu">
        <div>
            <a href="#aboutMe" translate>About me</a>
            <a href="#skills" translate>Skills</a>
            <a href="#portfolio" translate>Portfolio</a>            
        </div>
        <div class="language-flags">
            <img src="assets/img/Icon/en.png" (click)="changeLanguage('en')">
            <img src="assets/img/Icon/de.png" (click)="changeLanguage('de')">
        </div>
    </div>

    <div class="headerMenuMobilDiv">
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close" #closeBtn></label>
        <div class="wrapper">
            <ul>
                <li><a (click)="closeMenu()" href="#aboutMe" translate>About me</a></li>
                <li><a (click)="closeMenu()" href="#skills" translate>Skills</a></li>
                <li><a (click)="closeMenu()" href="#portfolio" translate>Portfolio</a></li>
                <li><a (click)="closeMenu()" href="#contact" translate>Contact</a></li>
                <!-- <li>
                    <a (click)="translateSite('en')" (click)="closeMenu()"><span class="de-en"
                            [ngClass]="{'language': selectedLanguage === 'en'}">EN</span></a>
                    <span class="stroke">|</span>
                    <a (click)="translateSite('de')" (click)="closeMenu()"><span class="de-en"
                            [ngClass]="{'language': selectedLanguage === 'de'}">DE</span></a>
                </li> -->
            </ul>
        </div>
    </div>
</div>