.footerDiv {
    position: relative;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    max-width: 100%;
    background-color: #141D2F;
    border-top: 4px solid #70E61C;
    height: 150px;
    padding-top: 5vh;
    padding-bottom: 5vh;     
}

.footerLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    

    a {
        margin-top: 10px;        
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;      
        color: white;
        transition: all 125ms ease-in-out;
       

        &:hover {
            text-decoration: underline 2px #70E61C;
            transition: all 125ms ease-in-out;
        }
    }
    
    img {
        height: 60px;
    }
}



.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerCopyright {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

.footerIcon {

    img {
        margin: 20px;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}

// ===========================
// ===== - 27-30 zoll - ======
// ===========================

@media (min-width: 2000px) {
    .footerDiv {
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footerIcon {
       img {
        object-fit: contain;
        height: 40px;
       } 
    }

    .footerCopyright {
        font-size: 40px;
    }

    .footerLogo {

        display: flex;
        justify-content: flex-start;
        img {
            height: 100px;
        }

        a {
            font-size: 24px;
            transition: all 125ms ease-in-out;
        }
    }
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1160px) {
    .footer {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .footerDiv {
        height: 330px;
    }

    .footerLogo {
        margin-bottom: 50px;

        img {
            margin-top: 40px;
        }
    }

    .footerCopyrightDiv {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .footer {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {

    .footerCopyright {
        font-size: 20px;
    }

    .footerCopyright {
        margin-top: 10px;
    }
}