<div class="footerDiv">

    <div class="footer">
        <div class="footerLogo">
            <a href="#"><img src="assets/img/logo.png"></a>
            <a class="imprint" routerLink="/imprint" translate>Imprint</a>
        </div>

        <div class="footerCopyrightDiv">
            <span class="footerCopyright">
                © Marcel Berlin 2023
            </span>
        </div>

        <div class="footerIcon">
            <a href="https://github.com/MarcelBerlin" target="_blank"><img src="/assets/img/Icon/Vector.png"></a>
            <a href="#contact"><img src="/assets/img/Icon/email.png"></a>
            <a href="https://www.linkedin.com/in/marcel-berlin-0b7906274/" target="_blank"><img src="assets/img/Icon/Vector (2).png"></a>
        </div>
    </div>

</div>
