<div class="about-me-container" id="aboutMe">


    <div class="description" data-aos-duration="500" data-aos-easing="ease-out">
        <div class="about-me-title">
            <h1 data-aos="flip-up">About me</h1>
            <span data-aos="zoom-in-up" translate>
                Hi, my name is Marcel and I am a Frontend developer based in Wassenberg, Germany.
                My passion for computers and everything related to them goes back to the mid 90's. There I already
                gained my first experiences in IT and the fascination found its beginning. In the last year I finally
                decided to
                become a frontend developer to dedicate my future to this exciting industry.
            </span>
        </div>

        <div class="about-me-text" data-aos="flip-up">
            <img src="/assets/img/lamp-vector.png">
            <span>I love constantly developing myself, implementing new ideas, and growing through challenges. And I
                also enjoy the feeling of accomplishment when overcoming obstacles and reaching new milestones.</span>
        </div>
        <div class="about-me-text" data-aos="flip-up">
            <img src="/assets/img/puzzle_vector.png">
            <span>After completing my frontend training, I am now ready to face exciting challenges and highly motivated
                to overcome every hurdle together as a team.</span>
        </div>
    </div>


    <div class="about-me-picture">
        <img data-aos="flip-up" class="about-me-profile-img" src="/assets/img/profile/portrait-nah-cut.png">
        <div class="about-me-horizontal-line"></div>
    </div>


    <div class="purple-shadow">
        <img src="/assets/img/Purple shadow 2.png">
    </div>





</div>