<div class="about-me-section" id="aboutMe">


    <div class="description" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-out">
        <h1 data-aos="flip-up">About me</h1>

        <span data-aos="flip-up" translate>
            Hi, I am a Front-end developer based in Wassenberg, Germany(...)
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque consequuntur voluptates qui
            beatae hic,
            nobis iusto ipsa atque pariatur delectus nostrum reiciendis minima? Aperiam vel aspernatur minima molestias
            nesciunt.
        </span>
        <div class="about-me-text" data-aos="flip-up">
            <img src="/assets/img/lamp-vector.png">
            <span>I love to improve myself so i decided to learn coding and grow as a front-end developer. I am very
                strict at clean coding and for working in a team</span>
        </div>
        <div class="about-me-text" data-aos="flip-up">
            <img src="/assets/img/puzzle_vector.png">
            <span>As a front-end developer, I have successfully completed my degree in this field and possess the
                necessary skills to excel in this role. I am highly motivated and always eager to take on new challenges
                that come my way.</span>
        </div>
    </div>
    <div class="about-me-picture" data-aos="zoom-in-up">
        <img class="about-me-profile-img" src="/assets/img/profile/MarcelBerlin_2.png">
        <img class="about-me-horizontal-line" src="/assets/img/LINE 7.png">
    </div>


</div>