
<div class="frontpage">
    <div class="profile">
        <div class="profile-picture">
            <img class="shadow" src="/assets/img/photo_shadows.png">           
            <img data-aos="zoom-in-up" src="/assets/img/profile/marcel-portrait.png" class="profile-img"> 
            <img data-aos="zoom-in-up" src="/assets/img/profile/marcel-portrait-arm.png" class="profile-img zIndex5">     
        </div>
        <div class="introduction">
            <div class="introduction-text" data-aos="zoom-in-up">
                <h1 class="vertical-text">{{ 'INTRODUCTION.I_AM' | translate }}</h1>
                <div class="horizontal-text">
                    <span class="name">{{ 'INTRODUCTION.NAME' | translate }}</span>
                    <br>
                    <span class="job-title">{{ 'INTRODUCTION.JOB_TITLE' | translate }}</span>
                </div>
            </div>
            <div class="contact-btn" data-aos="zoom-in-up">
                <a href="#contact">{{ 'INTRODUCTION.CONTACT_BTN' | translate }}</a>
            </div>
        </div>
    </div>

    <div class="vector">
        <img src="assets/img/angle-frame.png">
        <div class="contact-links">
            <div class="line-and-links">
                <div class="purple-line"></div>
                <div class="contact-links-btn" data-aos="zoom-in-up">
                    <a href="https://github.com/MarcelBerlin" target="_blank"> <img src="assets/img/Icon/Vector.png"></a>
                    <a href="#contact"> <img src="assets/img/Icon/email.png"> </a>
                    <a href="https://www.linkedin.com/in/marcel-berlin/" target="_blank"> <img
                            src="assets/img/Icon/Vector (2).png"> </a>
                    <a class="email" href="#contact">mail@marcelberlin-developer.de</a>
                </div>
            </div>            
            <div data-aos="zoom-in-up" class="scroll-down-container">
                <span class="scroll-down">
                    {{ 'INTRODUCTION.SCROLL' | translate }}
                    <img src="assets/img/Icon/Vector (7).png">
                </span>
            </div>
        </div>
    </div>
   

</div>