.frontpage {
  background-color: #141d2f;
  height: 100vh;
  margin-top: 100px; 

  @media (max-width: 1000px) {
    height: 100vh;   
  }
  
}

.profile {
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding-top: 2vh;

  @media (max-width: 1150px) {  
    height: 35%;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    height: 40%;
  }
}

.profile-picture {
  position: relative;

  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
}

.profile-img {
  padding: 14vh 0vh 0vh 10vw;
  position: absolute;
  top: -120px;
  left: 50px;
  height: 80vh;
  width: auto;
  object-fit: contain;

  @media (max-width: 1900px) {
    padding: 14vh 0vh 0vh 5vw;
  }

  @media (max-width: 1650px) {
    padding: 14vh 0vh 0vh 3vw;
  }

  @media (max-width: 1500px) {
    padding: 14vh 0vh 0vh ;
  }

  @media (max-width: 1150px) {   
    padding: 14vh 0vh 0vh 2vw; 
    height: 60vh;
  }

  @media (max-width: 1000px) {
    left: 300px;
    height: 50vh;
  }

  @media (max-width: 900px) {
    left: 250px;
  }

  @media (max-width: 800px) {
    left: 220px;
  }

  @media (max-width: 750px) {
    left: 180px;
  }

  @media (max-width: 700px) {
    left: 140px;
  }

  @media (max-width: 600px) {
    left: 110px;
  }

  @media (max-width: 550px) {
    left: 80px;
  }

  @media (max-width: 500px) {
    left: 95px;
    top: -100px;
    width: 300px;
  }

  @media (max-width: 450px) {
    left: 55px;
    top: -100px;    
  }

  @media (max-width: 400px) {
    left: 40px;
    top: -100px;    
  }
 
}

.zIndex5 {
  z-index: 5 !important;
}

.shadow {
  position: absolute;
  top: 60px;
  left: 50px;
  width: 50vw;
  height: auto;
  object-fit: contain;

  @media (max-width: 1500px) {
    left: 0px;
  }

  @media (max-width: 1000px) {
    left: 0px;
    top: -55px;
    height: 75vh;
    width: 100vw;
  }

  @media (max-width: 900px) {
    left: -10px;
  }
 

  @media (max-width: 650px) {
    left: 0;
  }

  @media (max-width: 500px) {
   top: -120px;
  }
}

.introduction-text {
  display: flex;
  align-items: center;


  @media (max-width: 1000px) {
    text-align: center;
  }

  @media (min-width: 1380px) {
    margin-right: 0;
  }
}

.horizontal-text {
  padding-right: 8vh;

  
  @media (max-width: 1200px) {    
    padding-right: 5vh;
  }

  @media (max-width: 1150px) {    
    padding-right: 10vh;
  }

  @media (max-width: 1000px) {
    padding-top: 15vh;
    padding-right: 10vw;
  }


}

.introduction {
  margin-top: 250px;
  margin-right: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 1650px) {
    margin-right: 100px;
  }

  @media (max-width: 1550px) {
    margin-right: 50px;
  }

  @media (max-width: 1400px) {
    margin-right: 0;
  }

  @media (max-width: 1024px) {
    margin-right: 50px;
  }
  
  @media (max-width: 1000px) {
    position: absolute;
    z-index: 9;
    padding-top: 10vh;
    width: 100%; 
  }

  @media (min-width: 2000px) {
    width: 65%;
  }

  @media (min-width: 2000px) {
    margin-right: 0px;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: calc(64px + 0.4vw);
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  text-shadow: 0px 0px 6px white;
  margin-right: 35px;

  @media (max-width: 1150px) {
    font-size: 52px;
  }
  
  @media (max-width: 1024px) {
    font-size: 40px;
    line-height: 80%;
    
  }

  @media (max-width: 1000px) {  
    padding-bottom: 15vh;
    font-size: calc(43px + 0.4vw);
  }

  @media (max-width: 550px) {
    font-size: calc(25px + 0.4vw);
  }

  @media (min-width: 2000px) {
    font-size: calc(65px + 0.4vw);
  }
}

.name {
  font-size: calc(70px + 0.4vw);
  font-weight: 700;  
  line-height: 120%;
  text-shadow: 0px 0px 6px white;

  @media (max-width: 1150px) {
    font-size: calc(55px + 0.4vw);
  }
  
  @media (max-width: 1024px) {
    font-size: calc(50px + 0.4vw);
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: calc(33px + 0.4vw);
  }

  @media (max-width: 359px) {
    font-size: calc(30px + 0.4vw);
  }

  @media (min-width: 2000px) {
    font-size: calc(90px + 0.4vw);
  }
}

.job-title {
  color: #9747ff;
  font-size: calc(41.5px + 0.4vw);
  line-height: 120%;
  text-shadow: 0px 0px 10px #9747ff;

  @media (max-width: 1440px) {
    font-size: calc(42px + 0.4vw);
  }  

  @media (max-width: 1150px) {
    font-size: calc(33.5px + 0.4vw);
  }

  @media (max-width: 1024px) {
    font-size: calc(30px + 0.4vw);
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: calc(20px + 0.4vw);
  }

  @media (max-width: 359px) {
    font-size: calc(18.5px + 0.4vw);
  }

  @media (min-width: 2000px) {
    font-size: calc(53px + 0.4vw);
  }
}

.contact-btn {
  position: relative;
  z-index: 5;
  margin-top: 20px;

  @media (max-width: 1000px) {
    margin-top: 8px;
    margin-right: 8vw;
  }

  a {
    font-size: calc(23px + 0.4vw);
    background: #70e61c;
    box-shadow: 0 0 5px #70e61c;
    padding: 15px 30px 15px 30px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 125ms ease-in-out;
    text-decoration: none;
    display: inline-block;

    &:hover {
      cursor: pointer;
      background: #9747ff;
      box-shadow: 0 0 5px #9747ff;
      transform: scale(1.1, 1.1);
    }

    @media (max-width: 1000px) {
      font-size: calc(20px + 0.4vw);
      margin-top: 18px;
      padding: 8px;
    }
  }
}

.vector {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 65vh;
    z-index: 1;

    @media (max-width: 1000px) {
      height: 25vh;
    }
  }
}

.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 50vh;

  @media (max-width: 1000px) {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
  }
}

.line-and-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1000px) {
    padding-top: 10vh;
  }
}

.purple-line {
  min-width: 120px;
  position: relative;
  margin: 16px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 4px solid #9747ff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  @media (max-width: 1000px) {
    min-width: 6vw;
  }
}

.contact-links-btn {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;

  @media (max-width: 1000px) {
    justify-content: space-evenly;
    width: 100%;
  }

  a {
    font-size: calc(23px + 0.4vw);
    padding-left: 16px;
    padding-right: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 42px;
    height: 35px;
    object-fit: contain;
    position: relative;
    transition: all 225ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 1000px) {
      width: 32px;
      height: 32px;
    }
  }
}

.email {
  border-bottom: 4px solid transparent;
  transition: all 225ms ease-in-out;
  color: white;
  text-decoration: none;

  &:hover {
    color: #70e61c;
    transition: all 225ms ease-in-out;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.scroll-down-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40vh;
  padding-right: 12vh;
  position: relative;

  @media (min-width: 2000px) {
    height: 35vh;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  span {
    position: absolute;
    color: white;
    writing-mode: vertical-rl;
    font-size: calc(23px + 0.390625vw);
    display: flex;
    align-items: center;
  }

  img {
    width: 1.5vw;
    height: 5vh;
    margin-top: 50px;
    object-fit: contain;
    animation: scrollDown 2s linear infinite;
    z-index: 5;
  }
}

@keyframes scrollDown {
  0% {
    top: 80%;
  }

  25% {
    top: calc(80% + 5%);
  }

  50% {
    top: 90%;
  }

  75% {
    top: calc(90% - 5%);
  }

  100% {
    top: 80%;
  }
}
