
<div class="frontpage">
    <div class="profile">
        <div class="profile-picture">
            <img class="shadow" src="/assets/img/photo_shadows.png">
            <!-- <img data-aos="zoom-in-up" src="assets/img/FabianFlegler.png" class="profile-img">
            <img data-aos="zoom-in-up" src="assets/img/FabianFlegler1.png" class="profile-img zIndex5"> -->
        </div>
        <div class="introduction">
            <div class="introduction-text" data-aos="zoom-in-up">
                <h1 class="vertical-text"> I am </h1>
                <div class="horizontal-text">
                    <span class="name"> Marcel Berlin </span>
                    <br>
                    <span class="job-title"> FRONTEND DEVELOPER </span>
                </div>
            </div>
            <div class="contact-btn" data-aos="zoom-in-up">
                <a href="#contact" class="contact-btn" translate> Let's talk! </a>
            </div>
        </div>
    </div>

    <div class="vector">
        <img src="assets/img/Vector_(8).png">
        <div class="contact-links">
            <div class="line-and-links">
                <div class="purple-line"></div>
                <div class="contact-links-btn" data-aos="fade-left">
                    <a href="https://github.com/MarcelBerlin" target="_blank"> <img src="assets/img/Icon/Vector.png"></a>
                    <a href="#contact"> <img src="assets/img/Icon/email.png"> </a>
                    <a href="https://www.linkedin.com/in/marcel-berlin-0b7906274/" target="_blank"> <img
                            src="assets/img/Icon/Vector (2).png"> </a>
                    <a class="email" href="#contact">berlin_m@gmx.de</a>
                </div>
            </div>            
            <div data-aos="zoom-in-up" class="scroll-down-container">
                <span class="scroll-down" translate>
                    Scroll down
                    <img src="assets/img/Icon/Vector (7).png">
                </span>
            </div>
        </div>
    </div>

    <div class="purple-shadow">
        <img src="/assets/img/Purple shadow 2.png">
    </div>

</div>