<div class="contact-container">
    <div class="contact-left">
        <div class="contact-title">
            <div class="contact-horizontal-line"></div>
            <h1 data-aos="fade-up">Contact</h1>
        </div>

        <div class="contact-section-text">
            <h2>Got a problem to solve?</h2>
            <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                your projects with my work</span>
            <br>
            <br>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>
    </div>

    <div class="contact-right">
        
    </div>
</div>