<div class="contact-container" id="contact">

    <div class="contact-title">
        <div class="contact-horizontal-line"></div>
        <h1 data-aos="fade-up">Contact</h1>
    </div>

    <div class="contact-details">
        <div class="contact-left">

            <div class="contact-section-text" data-aos="zoom-in-up" >
                <h2>Got a problem to solve?</h2>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to
                    your projects with my work</span>
                <br>
                <br>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>

        <div class="contact-right">

            <form (submit)="sendMail()" method="POST" class="formInput" ngNativeValidate #myForm>

                <!-- NAME INPUT -->

                <input id="name" [ngClass]="{ 'empty': isInputNameEmpty, 'filled': !isInputNameEmpty }"
                    placeholder="Your name" #nameField  data-aos="zoom-in-up" [(ngModel)]="name" (ngModelChange)="handleNameInputChange()"
                    name="inputField" (focus)="isInputNameEmpty = !name" (blur)="isInputNameEmpty = !name" />

                <!-- ################################ -->

                <!-- EMAIL INPUT -->

                <input id="email" [ngClass]="{ 'empty': isInputEmailEmpty, 'filled': !isInputEmailEmpty }"
                    placeholder="Your email" #emailField  data-aos="zoom-in-up" [(ngModel)]="email" (ngModelChange)="handleEmailInputChange()"
                    name="inputField" (focus)="isInputEmailEmpty = !email" (blur)="isInputEmailEmpty = !email" />

                <!-- ################################ -->

                <!-- TEXTAREA -->

                <textarea id="message" required cols="30" rows="10"
                    [ngClass]="{ 'empty': isInputMessageEmpty, 'filled': !isInputMessageEmpty }"
                    placeholder="Your message" #messageField data-aos="zoom-in-up" [(ngModel)]="message"
                    (ngModelChange)="handleMessageInputChange()" name="inputField"
                    (focus)="isInputMessageEmpty = !message" (blur)="isInputMessageEmpty = !message"></textarea>

                <!-- ################################ -->

                <div class="sendBtnAndEmailSend" data-aos="zoom-in-up">
                    <button id="sendBtn" class="sendMessageBtn" #sendButton translate>Send
                        message :)
                    </button>
                    <div id="loader" class="loaderDNone">
                        <div class="loader">
                            <div class="line line1"></div>
                            <div class="line line2"></div>
                            <div class="line line3"></div>
                            <div class="line line4"></div>
                            <div class="line line5"></div>
                        </div>
                    </div>

                    <div class="emailSend loaderDNone" id="sendEmail" translate>E-Mail has been sent.</div>
                </div>
            </form>

        </div>
    </div>

    <div class="purpleShadow">
        <img src="/assets/img/contact-shadow.png">
    </div>

</div>