<div class="contact-container" id="contact">
    

    <div class="contact-title">
        <div class="contact-horizontal-line"></div>
        <h1 data-aos="fade-up">Contact</h1>
    </div>

    <div class="contact-details">
        <div class="contact-left">

            <div class="contact-section-text" data-aos="zoom-in-up">
                <h2>Got a problem to solve?</h2>
                <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                    to
                    your projects with my work</span>
                <br>
                <br>
                <span>Need a Frontend developer? <b>Contact me!</b></span>
            </div>
        </div>

        <div class="contact-right">

            <form (submit)="sendMail()" method="POST" class="formInput" ngNativeValidate #myForm>

                <!-- NAME INPUT -->

                <input id="name" required type="text" data-aos="zoom-in-up"
                    [ngClass]="{ 'empty': isInputNameEmpty, 'filled': !isInputNameEmpty }" placeholder="Your name"
                    #nameField [(ngModel)]="name" (ngModelChange)="handleNameInputChange()"
                    (focus)="isInputNameEmpty = !name" (blur)="isInputNameEmpty = !name"
                    [ngModelOptions]="{standalone: true}" title="Please enter your name" />

                <!-- ################################ -->

                <!-- EMAIL INPUT -->

                <input id="email" required type="email" data-aos="zoom-in-up"
                    [ngClass]="{ 'empty': isInputEmailEmpty, 'filled': !isInputEmailEmpty, 'valid': isEmailValid  }"
                    placeholder="Your email" #emailField [(ngModel)]="email" (ngModelChange)="handleEmailInputChange()"
                    (focus)="isInputEmailEmpty = !email" (blur)="isInputEmailEmpty = !email; validateEmail()"
                    [ngModelOptions]="{standalone: true}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    title="Please enter a valid email address" />

                <!-- ################################ -->

                <!-- TEXTAREA -->

                <textarea id="message" required cols="30" rows="10" method="POST" data-aos="zoom-in-up"
                    [ngClass]="{ 'empty': isInputMessageEmpty, 'filled': !isInputMessageEmpty }"
                    placeholder="Your message" #messageField [(ngModel)]="message"
                    (ngModelChange)="handleMessageInputChange()" (focus)="isInputMessageEmpty = !message"
                    (blur)="isInputMessageEmpty = !message" [ngModelOptions]="{standalone: true}"
                    title="Please enter your message"></textarea>

                <!-- ################################ -->

                <div class="sendBtnAndEmailSend" data-aos="zoom-in-up">
                    <button id="sendBtn" class="sendMessageBtn" #sendButton translate>Send
                        message
                    </button>
                    <div id="loader" class="loaderDNone">
                        <div class="loader">
                            <div class="line line1"></div>
                            <div class="line line2"></div>
                            <div class="line line3"></div>
                            <div class="line line4"></div>
                            <div class="line line5"></div>
                        </div>
                    </div>

                    <div class="emailSend loaderDNone" id="sendEmail" translate>E-Mail has been sent.</div>
                </div>
            </form>
            <div class="goUp" data-aos="fade-in">
                <a href="#"><img class="goUpImg" src="assets/img/Icon/Go up button.png"></a>
            </div>
        </div>
    </div>

    <div class="purpleShadow">
        <img src="/assets/img/contact-shadow.png">
    </div>

</div>