<div class="skills-container" id="skills">

    <div class="my-skills zIndex">
        <div *ngFor="let skill of mySkills" class="skills-icons-row">
            <div data-aos="zoom-in-up" class="skills-icons">
                <img src="/assets/img/Icon/{{ skill.img }}">
                <span>{{ skill.name }}</span>
            </div>
        </div>
    </div>

    <div class="skills-text">
        <div class="purple-line"></div>

        <div class="skills-title">
            <h1 data-aos="flip-up">{{ 'SKILLS.TITLE' | translate }}</h1>
            <div data-aos="zoom-in-up" class="skills-subheadline">
                {{ 'SKILLS.SUBHEADLINE' | translate }}
            </div>
        </div>



        <div class="contact-btn" data-aos="zoom-in-up">
            <a href="#contact">{{ 'SKILLS.CONTACT_BTN' | translate }}</a>
        </div>

    </div>



    <div class="skills-green-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>

</div>