<div class="skills-container" id="skills">

    <div class="my-skills">
        <div *ngFor="let skill of mySkills" class="skills-icons-row">
            <div data-aos="zoom-in-up" class="skills-icons">
                <img src="/assets/img/Icon/{{ skill.img }}">
                <span>{{ skill.name }}</span>
            </div>
        </div>
    </div>



    <div class="skills-text">
        
        <h1 data-aos="zoom-in-up" translate>My Skills</h1>

        <div data-aos="zoom-in-up" class="skills-subheadline" translate>

            I have gained experience in my frontend developments skills that have allowed me to create different exciting projects.
      
        </div>

        <div class="contact-btn" data-aos="zoom-in-up">
            <a href="#contact" class="contact-btn" translate> Get in Touch </a>
        </div>
        
    </div>

    <div class="purple-line"></div>

    <div class="skills-green-shadow">
        <img src="/assets/img/Green shadow 2.png">
    </div>

</div>