.skills-container {
    background-color: #141D2F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-top: 20vh;

    @media (max-width: 1440px) {
        padding-top: 5vh;
    }
    
    @media (max-width: 1000px) {
        padding-left: 120px;      
        flex-direction: column-reverse;
    }
}



.my-skills {
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;   
    
    @media(max-width: 1440px) {
        padding-left: 0;
    }
    
    @media(max-width: 1000px) {
        padding-left: 0;
        padding-bottom: 20vh;
    
    }
}


.skills-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
    margin-right: 25px;
    width: 200px;
    height: 200px;


    img {
        width: 6vw;
        height: 6vh;
        object-fit: contain;
        margin: 16px;

        &:hover {
            cursor: pointer;
            animation: bounce 425ms ease-in-out;
        }
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10%);
    }
}

.skills-text {
    position: relative;    
    text-align: right;  
    width: 100vw;      
    
    
    h1 {
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
        margin-top: -100px;
        text-shadow: 0px 0px 5px white;
    }

 
    @media (max-width: 1440px) {      
        
        h1 {
            font-size: 70px;
            line-height: 60px;
        }
    }

    @media (max-width: 1000px) {      
        
        h1 {
            font-size: 60px;
            line-height: 60px;
        }
    }

    .purple-line {
        position: absolute;
        border-bottom: 4px solid #9747FF;
        border-radius: 4px;
        width: 5vw;
        top: 0;
        right: 0;
        margin-left: 25px;
        margin-top: -50px;

        @media (max-width: 1440px) {
            top: -15px;
            width: 5vw;
        }

        @media (max-width: 1024px) {
            top: -18px;
            width: 5vw;
        }
    }

    .contact-btn {
    
        position: absolute;        
        top: 150%;
        right: 10%;
        margin-right: 150px;
        
        @media (max-width: 1440px) {
            top: 125px;           
        }
    
        @media(max-width: 1000px) {
            margin-top: 8px;
            top: 1100px;
            right: 25%;           
        }
    
        a {      
            font-size: calc(23px + 0.4vw);
            background: #70e61c;
            box-shadow: 0 0 5px #70e61c;
            padding: 15px 30px 15px 30px;
            color: white;
            border: none;
            border-radius: 10px;
            transition: all 125ms ease-in-out;
            text-decoration: none;
            display: inline-block;
    
    
            &:hover {
                cursor: pointer;
                background: #9747FF;
                box-shadow: 0 0 5px #9747FF;
                transform: scale(1.1, 1.1);
            }

            @media (max-width: 1440px) {
                font-size: calc(16px + 0.4vw);
            }
    
            @media(max-width: 1000px) {
                font-size: calc(16px + 0.4vw);
                padding: 8px;
            }
        }
    }

}



.skills-title {
    display: flex;
    flex-direction: column;    
    justify-content: flex-end;
    margin-right: 150px;    
  
    .skills-subheadline {
        // width: 30vw;
        font-size: 16px;
        line-height: 23px;   
            
        @media(max-width: 1000px) {
            font-size: calc(16px + 0.390625vw);
            // margin-right: 120px;
            margin: 8px;
        }
    }
}




.skills-green-shadow {
    
    position: absolute;
    z-index: 2;
    top: 2200px;
    left: 0;
  
    img {
      z-index: 2;
      width: 20vw;
      height: auto;      
      filter: blur(26.5px);  
    }   

    @media(max-width: 800px) {
        img {
            height: 100vh;
        }
    }

    @media (min-width: 2000px) {
        top: 2400px;
   
    }
}