.skills-container {
  background-color: #141d2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-top: 20vh;

  @media (max-width: 1440px) {
    padding-top: 5vh;
  }

  @media (max-width: 1150px) {    
    padding-top: 15vh;
    flex-direction: column-reverse;    
  }

  @media (max-width: 1000px) {    
    padding-bottom: -5vh;
  }
}

.my-skills {
  z-index: 3;  
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;

  @media (max-width: 1440px) {
    padding-left: 0;    
  }

  @media (max-width: 1000px) {
    padding-left: 0;
    padding-bottom: 20vh;
    padding-right: 120px;
  }

  @media (max-width: 700px) {
    margin-left: -3vw;
  }

  @media (max-width: 650px) {
    margin-left: 5vw;
  }

  @media (max-width: 630px) {
    margin-left: 3vw;
  }

  @media (max-width: 630px) {
    margin-left: 1vw;
  }

  @media (max-width: 580px) {
    margin-left: 0vw;
  }

}

.skills-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 200px;
  height: 200px;

  img {
    width: 6vw;
    height: 6vh;
    object-fit: contain;
    margin: 16px;

    &:hover {
      cursor: pointer;
      animation: bounce 425ms ease-in-out;
    }

    @media (max-width: 1000px) {
      margin: 10px;      
    }  
    
  }

  @media (max-width: 1000px) {
    width: 180px;
    height: 180px;
    
  }

  @media (max-width: 700px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 400px) {
    width: 130px;
    height: 130px;
  }


}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-10%);
  }
}

.skills-text {
  position: relative;
  text-align: right;

  h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    margin-top: -100px;
    text-shadow: 0px 0px 5px white;
  }

  @media (max-width: 1440px) {
    h1 {
      font-size: 60px;
      line-height: 60px;
    }
  }

  @media (max-width: 1370px) {
    h1 {      
      line-height: 60px;
    }
  }

  @media (max-width: 1150px) {
    padding-bottom: 5vh;
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 60px;
      line-height: 60px;
    }
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 50px;
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 30px;
    }
  }
  

  .purple-line {
    position: absolute;
    border-bottom: 4px solid #9747ff;
    border-radius: 4px;
    min-width: 120px;
    top: 0;
    right: 0;    
    margin-top: -50px;

    @media (max-width: 1440px) {
      top: -15px;
    }

    @media (max-width: 1024px) {
      top: -18px;
    }

    @media (max-width: 1000px) {
      min-width: 6vw;
    }
  }

  .contact-btn {
    position: absolute;
    top: 150%;
    right: 10%;
    margin-right: 150px;

    @media (max-width: 1440px) {
      top: 125px;
    }

    @media (max-width: 1293px) {
      top: 200px;
    }
   

    @media (max-width: 1155px) {
      right: 5%
    }

    @media (max-width: 1150px) {
      display: none;
    }

    a {
      font-size: calc(23px + 0.4vw);
      background: #70e61c;
      box-shadow: 0 0 5px #70e61c;
      padding: 15px 30px 15px 30px;
      color: white;
      border: none;
      border-radius: 10px;
      transition: all 125ms ease-in-out;
      text-decoration: none;
      display: inline-block;

      &:hover {
        cursor: pointer;
        background: #9747ff;
        box-shadow: 0 0 5px #9747ff;
        transform: scale(1.1, 1.1);
      }

      @media (max-width: 1440px) {
        font-size: calc(16px + 0.4vw);
      }

      @media (max-width: 1224px) {
        font-size: calc(13px + 0.4vw);
      }

      @media (max-width: 1000px) {
        font-size: calc(16px + 0.4vw);
        padding: 8px;
      }
    }
  }
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 150px;

  @media (max-width: 1000px) {
    margin-right: 80px;
  }

  @media (max-width: 600px) {
    margin-right: 50px;
  }


  .skills-subheadline {
    font-size: 16px;
    line-height: 23px;

    @media (max-width: 1000px) {
      font-size: calc(16px + 0.390625vw);
      margin: 8px;      
    }

    @media (max-width: 700px) {      
        font-size: 14px;
        text-align: right;
        margin-right: 0;      
    }
  }
  
}

.skills-green-shadow {
  position: absolute;
  z-index: 1;
  top: 2200px;
  left: 0;

  img {
    z-index: 2;
    width: auto;
    height: 120vh;
    
    @media (max-width: 1150px) {
      height: 90vh;
    }

    @media (max-width: 500px) {
      height: 70vh;
    }

    @media (max-width: 400px) {
      height: 50vh;
    }
  }

  @media (max-width: 1440px) {
    top: 2000px;
  }

  @media (max-width: 1150px) {
    top: 2000px;
  }

  @media (max-width: 900px) {
   top: 2000px;
  }

 
  @media (max-width: 700px) {
    top: 1800px;   
  }

  @media (max-width: 500px) {
    top: 2000px;
   
  }

  @media (max-width: 400px) {
    top: 2200px;
   
  }

  @media (min-width: 2000px) {
    top: 2400px;
  }
}
