<div class="portfolio-container" id="portfolio">

    <div class="portfolio-section-title">
        <div class="portfolio-title-position">
            <div class="portfolio-title">
                <div class="portfolio-horizontal-small"></div>
                <h1 data-aos="flip-up">Portfolio</h1>                
                <div class="portfolio-horizontal-big"></div>
            </div>
            <span data-aos="fade-up">The following applications are a small sample of my work - please feel free to try them
                out.</span>
        </div>
    </div>

    <div class="portfolio-projects zIndex" *ngFor="let project of projects; let i = index">

        <div *ngIf="i % 2 == 0" class="portfolio-project1">

            <div *ngIf="i % 2 == 0" class="project-img" data-aos="zoom-in-up">
                <img src="/assets/img/{{ project.img }}">
            </div>

            <div class="project-description-1" data-aos="zoom-in-up">
                <h1>{{ project.name }}</h1>
                <h2>{{ project.language }}</h2>
                <span>{{ project.text }}</span>
                <div class="project-links-1">
                    <a href="{{ project.link }}" target="_blank"><button class="live-test-btn">Live test</button></a>
                    <a href="{{ project.linkGit }}" target="_blank"><button class="github-btn">Github</button></a>
                </div>
            </div>
        </div>

        <div *ngIf="i % 2 != 0" class="portfolio-project2" data-aos="zoom-in-up">

            <div class="project-description-2" data-aos="zoom-in-up">
                <h1>{{ project.name }}</h1>
                <h2>{{ project.language }}</h2>
                <span>{{ project.text }}</span>
                <div class="project-links-2">
                    <a href="{{ project.link }}" target="_blank"><button class="live-test-btn">Live test</button></a>
                    <a href="{{ project.linkGit }}" target="_blank"><button class="github-btn">Github</button></a>
                </div>
            </div>

            <div *ngIf="i % 2 != 0" class="project-img" data-aos="zoom-in-up">
                <img src="/assets/img/{{ project.img }}">
            </div>

        </div>
    </div>

    <div class="portfolio-purple-shadow">
        <img src="/assets/img/Purple shadow 3.png">
    </div>

    <div class="portfolio-green-shadow">
        <img src="/assets/img/Green shadow left.png">
    </div>









</div>