.portfolio-container {
  background-color: #141d2f;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100vw;
  padding-top: 20vh;

  @media (max-width: 1440px) {
    padding-top: 10vh;
  }
}

.portfolio-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    text-shadow: 0px 0px 5px white;
  }

  span {
    font-size: 18px;
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 60px;
    }

    span {
      font-size: 16px;
      padding-left: 5vw;
      padding-right: 5vw;
      text-align: center;
    }
  }
}

.portfolio-title-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-horizontal-small {
  width: 20vw;
  margin-right: 2vw;
  border: 2px solid #9747ff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  @media (max-width: 1000px) {
    width: 10vw;
  }
}

.portfolio-horizontal-big {
  width: 20vw;
  margin-left: 2vw;
  border: 2px solid #9747ff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  @media (max-width: 1000px) {
    width: 10vw;
  }
}

.portfolio-title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
  overflow-x: hidden;
}

.portfolio-projects {
  max-width: 100vw;
  position: relative;
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 10vh;

  @media (min-width: 2000px) {
    padding-left: 600px;
    padding-right: 600px;
  }

  @media (max-width: 1440px) {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 1350px) {
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 1250px) {
    margin-left: 125px;
    margin-right: 125px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 1200px) {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 1000px) {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}

.zIndex {
  z-index: 6;
}

.portfolio-project1 {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  @media (max-width: 1000px) {    
    padding-left: 8px;
    padding-right: 8px;
  }
}

.portfolio-project2 {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1150px) {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }

  @media (max-width: 1000px) {   
    padding-left: 8px;
    padding-right: 8px;
  }
}

.project-description-1 {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 1150px) {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  h1 {
    color: #9747ff;
    font-size: 32px;

    @media (max-width: 1000px) {
      font-size: calc(20px + 0.390625vw);
    }
  }

  h2 {
    color: #70e61c;
    font-size: 23px;

    @media (max-width: 1000px) {
      font-size: calc(18px + 0.390625vw);
    }

    @media (max-width: 700px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  span {
    font-size: 16px;

    @media (max-width: 1000px) {
      font-size: calc(16px + 0.390625vw);
    }

    @media (max-width: 700px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.project-description-2 {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  @media (max-width: 1150px) {
    width: 100%;
    align-items: center;    
    text-align: center;
  }

  h1 {
    color: #9747ff;
    font-size: 32px;

    @media (max-width: 1000px) {
      font-size: calc(20px + 0.390625vw);
    }
  }

  h2 {
    color: #70e61c;
    font-size: 23px;

    @media (max-width: 1000px) {
      font-size: calc(18px + 0.390625vw);
    }

    @media (max-width: 700px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  span {
    font-size: 16px;

    @media (max-width: 1000px) {
      font-size: calc(16px + 0.390625vw);
    }

    @media (max-width: 700px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.project-links-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.project-links-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
  }
}

.live-test-btn {
  font-size: calc(23px + 0.390625vw);
  background-color: #9747ff;
  box-shadow: 0 0 5px #9747ff;
  padding: 16px;
  margin-top: 30px;
  margin-right: 45px;
  border-radius: 10px;
  transition: all 125ms ease-in-out;
  text-decoration: none;
  border: none;
  color: white;
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
    background: #70e61c;
    box-shadow: 0 0 5px #70e61c;
  }

  @media (max-width: 1000px) {
    font-size: calc(16px + 0.4vw);
    padding: 8px;
  }
}

.github-btn {
  font-size: calc(23px + 0.390625vw);
  background: none;
  box-shadow: 0 0 5px #70e61c;
  padding: 16px;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 125ms ease-in-out;
  text-decoration: none;
  border: none;
  color: white;
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
    background: #70e61c;
    box-shadow: 0 0 5px #70e61c;
  }

  @media (max-width: 1000px) {
    font-size: calc(16px + 0.4vw);
    padding: 8px;
  }
}

.portfolio-purple-shadow {
  position: absolute;
  top: 3800px;
  overflow: hidden;

  img {
    z-index: 1;
    width: 40vw;
    height: auto;
    filter: blur(26.5px);
  }

  @media (max-width: 800px) {
    img {
      height: 100vh;
    }
  }

  @media (min-width: 2000px) {
    top: 4200px;
  }
}

.portfolio-green-shadow {
  position: absolute;
  right: 0;
  top: 4700px;
  overflow-x: hidden;

  img {
    z-index: 1;
    height: 80vh;
  }

  @media (max-width: 1440px) {
    top: 4500px;
  }

  @media (max-width: 800px) {
    img {
      height: 100vh;
    }
  }

  @media (min-width: 2000px) {
    top: 5200px;
  }
}
