<div class="container" id="imprint">
    <h1 translate>Imprint</h1>

    <p>Marcel Berlin<br />
        Auf dem Weiler 6a<br />
        41849 Wassenberg</p>

    <h2 translate>Contact</h2>
    <p>
        <a href="tel: 017623291202" translate>Phone: +49 (0) 176 23291202</a><br />
        <a href="mailto: info@marcelberlin-developer.de">E-Mail: info@marcelberlin-developer.de</a>
    </p>
</div>
<div class="dataProtection">
    <div translate>
        <strong translate>Disclaimer: </strong><br><br><strong translate>Liability for content</strong><br><br>
        The contents of our pages were created with great care. For correctness, completeness and However, we cannot
        guarantee that the content is up-to-date. As a service provider, according to § 7 Paragraph 1 TMG responsible
        for own content on these pages according to general laws. According to §§ 8 to 10 TMG we however, as a service
        provider, we are not obliged to accept transmitted or stored third-party information monitor or to investigate
        circumstances that indicate illegal activity. obligations to distance or blocking the use of information
        according to general laws remain unaffected. One However, liability in this regard is only effective from the
        point in time at which knowledge of a specific infringement of the law is known possible. At As soon as we
        become aware of corresponding violations of the law, we will remove this content immediately removed.
    </div>

    <div translate>
        <br><br><strong translate>Liability for links</strong><br><br>
        The contents of our pages were created with great care. However, we cannot guarantee that the content is
        correct, complete or up-to-date. As a service provider, we are responsible for our own content on these pages
        according to Section 7, Paragraph 1 of the German Telemedia Act (TMG). According to §§ 8 to 10 TMG, however, we
        as a service provider are not obliged to monitor transmitted or stored third-party information or to investigate
        circumstances that indicate illegal activity. Obligations to remove or block the use of information according to
        general laws remain unaffected. However, liability in this regard is only possible from the point in time at
        which knowledge of a specific infringement of the law is known. As soon as we become aware of any violations of
        the law, we will remove this content immediately.
    </div>

    <div translate>
        <br><br><strong translate>Copyright</strong><br><br>
        The content and works on these pages created by the site operators are subject to the German Copyright. The
        duplication, processing, distribution and any kind of exploitation outside of the limits of Copyrights require
        the written consent of the respective author or creator. Downloads and copies on this site are only permitted
        for private, non-commercial use. As far as the content on this If the site was not created by the operator, the
        copyrights of third parties are observed. Be particular content Marked as such by third parties. Should you
        nevertheless become aware of a copyright infringement, request us for a corresponding notice. As soon as we
        become aware of legal violations, we will remove such content remove immediately.
    </div>

    <div translate>
        <br><br><strong translate>Data protection</strong><br><br>
        Our website can usually be used without providing any personal data. So far up ours pages personal data (e.g.
        name, address or e-mail addresses) are collected this, as far as possible, always on a voluntary basis. This
        data will not be shared without your express consent passed on to third parties. We would like to point out that
        data transmission on the Internet (e.g. when communicating by e-mail) may have security vulnerabilities. A
        complete protection of the data against access by third parties is not possible possible. The use of contact
        data published as part of the imprint obligation by third parties for transmission from Advertising and
        information materials not expressly requested are hereby expressly excluded objected. The Operators of the pages
        expressly reserve the right to take legal action in the event of the unsolicited sending of Advertising
        information, such as spam mails.
    </div>

    <div translate>
        <br><br><strong translate>Google Analytics</strong><br><br>
        This website uses Google Analytics, a web analytics service provided by Google Inc. (Google). Google Analytics
        uses so-called cookies, text files that are stored on your computer and allow an analysis of the allows you to
        use the website. The information generated by the cookie about your use This website (including your IP address)
        will be transmitted to a Google server in the USA and there saved. Google will use this information to evaluate
        your use of the website for reports above to compile the website activities for the website operator and to
        further with the website use and the to provide services related to internet use. Also, Google will use this
        information if necessary Transfer to third parties if required to do so by law or if third parties process this
        data on behalf of Google process. Under no circumstances will Google associate your IP address with other Google
        data. She You can prevent the installation of cookies by setting your browser software accordingly; we however,
        please point out that in this case you may not be able to use all the functions of this website site can make
        full use of. By using this website, you agree to the processing of the above She data collected by Google in the
        manner and for the purposes set out above agreed.
    </div>
</div>