
html {
    scroll-behavior: smooth;
}

body { 
    margin: 0;     
    font-family: 'Poppins', sans-serif;    
    overflow-x: hidden;
        
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #9747FF;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #9747FF;
    border-radius: 5px;
}
